.hero {
    &__lang {
        &-switcher {
            display: inline-flex;
            align-items: center;
            column-gap: 5px;
        }
        &-btn {
            background-color: transparent;
        }
    }
    &__action {
        width: 12em;
        &-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            padding: 0.5em 0.6em;
            background-color: transparent;
            border: 1px solid #343a3f;
            border-radius: 4px;
        }
    }

    &__build {
        &-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 1em;
            padding: 0.8em 0.6em;
            column-gap: 5px;
            width: 100%;
            background-color: #F4F4F4;
            color: #4888FF;
            border: 1px solid #343a3f;
            border-radius: 4px;
        }
    }
}
