.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: start;
    flex-grow: 1;
    background-image: url('/src/images/joystick.png'),
        linear-gradient(
            90deg,
            rgba(103, 40, 112, 1) 25%,
            rgba(79, 224, 255, 1) 100%
        );
    background-repeat: no-repeat;
    background-size: 50vw, contain;
    background-position: 120% -70%, center;
}
