.section {
    &__description {
        margin-block: 3%;
        font-size: 18px;
        color: white;
    }
    &__btn {
        padding: 16px 40px;
        color: #672870;
        border-radius: 8px;
    }
}