//utils
@use './figures/circle.scss';
@use './blocks/flex';
@use './blocks/normalize';

// header
@use './blocks/header/header';
@use './blocks/header/nav';
@use './blocks/header/hero';
@use './blocks/header/hero-nav';

// main
@use './blocks/main/main';
@use './blocks/main/article';
@use './blocks/main/section';

button {
    width: fit-content;
    align-self: center;
    justify-self: center;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        background-color: pink; //test
    }
}
