//utils
@use './figures/circle.scss';
@use './blocks/flex';

// blocks
@use './blocks/normalize';
@use './blocks/header';
@use './blocks/nav';
@use './blocks/hero';
@use './blocks/hero-nav';



button {
    width: fit-content;
    align-self: center;
    justify-self: center;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
        background-color: pink; //test
    }
}
