.hero {
    margin-block: 1em 1.5em;
    &__lang {
        &-switcher {
            display: inline-flex;
            align-items: center;
            column-gap: 5px;
        }
        &-btn {
            background-color: transparent;
        }
    }

    &__action {
        width: 10%;

    }

    &__action,
    &__build {
        &-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            border: 1px solid #343a3f;
            border-radius: 4px;
            color: #4888ff;
        }
    }

    &__action-btn {
        flex-grow: 1;
        padding: 0.5em 0.6em;
        background-color: transparent;
    }

    &__build-btn {
        margin-top: 1.5em;
        padding: 0.8em 0.6em;
        column-gap: 5px;
        width: 12em;
        background-color: #f4f4f4;
    }
}